@charset "utf-8";

/* body {
    background-color: darkkhaki;
} */

/* *********reset.css******************************************************************************************************************************** */
* {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal; /* =400 */
}

a {
    text-decoration: none;
}

/* *********common.css (공통으로 사용할 디자인)******************************************************************************************************************************** */
/* float 해제를 위한 클래스 */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}
.container {
    background-color: lightblue;
    padding: 100px 0;
}
.recipe {
width: 1280px;
margin: 0 auto;
/* outline: 2px solid red; */
/* background-color: lightcoral; */
}
.recipe .title {
 /*    background-color: deepskyblue; */
    margin-bottom: 50px;

}

.recipe .title h2 {
    font-size: 40px;
    font-weight: 700;
}
.recipe .title p {
    font-size: 20px;
    color: #555;
}

.recipe .content {/* 
background-color: khaki; */
}
/* 
float된 요소에 width값이 설정되지 않았을 경우, 내용만큼의 너비(width)를 갖는다!
*/
.recipe .content .box {
   /*  outline: 2px solid blue; */
   margin-bottom: 30px;

    float: left;
    /* 1) 전체공간의 1/4을 너비로 사용 */
    /* width: 25%;
    padding: 0 20px;
    box-sizing: border-box; */

    /* 2) 여백을 제외한 너비설정 */
    width: 23.5%; /* 100-(여백 2퍼센트 3개 니깐 6)=94 나누기 4 하면 23.5임*/
   /*  margin-left: 2%; */
}
/* 형제요소 선택자(~) : 첫번째 요소 제외하고 모든 형제요소 선택! */
.recipe .content .box ~ .box {
    margin-left: 2%;
}
.recipe .content .box:nth-child(4n+1) /* 4n+1의 원리를 알기!!! */
 {
    margin-left: 0;

}
/* 
.recipe .content .box:first-child {
    margin-left: 0;
} */
/* .box img로 줄여서 가능 */
.recipe .content .box img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
.recipe .content .box h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 6px;
}
.recipe .content .box h3 a {
    color: #333;

}

.recipe .content .box h3 a:hover {
    text-decoration: underline;
    color: lightsalmon;
}
.recipe .content .box p {
    font-size: 18px;
    color: #666;
}